n8n/exports/Stripe_Event_Handler_Secure.json
{
  "name": "Stripe Event Handler (Secure)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "events": [
          "payment_intent.succeeded",
          "payment_intent.payment_failed",
          "charge.refunded",
          "payout.paid",
          "charge.failed",
          "charge.succeeded",
          "charge.updated",
          "charge.dispute.created",
          "charge.dispute.closed",
          "charge.dispute.funds_withdrawn",
          "charge.dispute.updated",
          "charge.refund.updated"
        ]
      },
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.stripeTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "id": "stripe-webhook-node",
      "credentials": {
        "stripeApi": {
          "id": "stripe-webhook-credentials",
          "name": "Stripe Webhook API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "payment-success",
              "leftValue": "={{ $json.type }}",
              "rightValue": "payment_intent.succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "charge-success",
              "leftValue": "={{ $json.type }}",
              "rightValue": "charge.succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        },
        "options": {}
      },
      "name": "Filter Success Events",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [400, 300],
      "id": "filter-success-node"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": "={{ $vars.NOTION_PAYMENTS_DATABASE_ID }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Event Type",
              "textValue": "={{ $json.type }}"
            },
            {
              "key": "Payment ID",
              "textValue": "={{ $json.data.object.id }}"
            },
            {
              "key": "Amount",
              "numberValue": "={{ $json.data.object.amount ? $json.data.object.amount / 100 : 0 }}"
            },
            {
              "key": "Currency",
              "selectValue": "={{ $json.data.object.currency?.toUpperCase() || 'USD' }}"
            },
            {
              "key": "Status",
              "selectValue": "={{ $json.data.object.status }}"
            },
            {
              "key": "Webhook Received",
              "dateValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "name": "Log to Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [600, 200],
      "id": "notion-log-node",
      "credentials": {
        "notionApi": {
          "id": "notion-credentials",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": "={{ $vars.NOTION_FAILED_PAYMENTS_DATABASE_ID }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Event Type",
              "textValue": "={{ $json.type }}"
            },
            {
              "key": "Payment ID",
              "textValue": "={{ $json.data.object.id }}"
            },
            {
              "key": "Failure Reason",
              "textValue": "={{ $json.data.object.last_payment_error?.message || 'Unknown' }}"
            },
            {
              "key": "Amount",
              "numberValue": "={{ $json.data.object.amount ? $json.data.object.amount / 100 : 0 }}"
            },
            {
              "key": "Currency",
              "selectValue": "={{ $json.data.object.currency?.toUpperCase() || 'USD' }}"
            },
            {
              "key": "Failed At",
              "dateValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "name": "Log Failed Payment",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [600, 400],
      "id": "notion-failed-node",
      "credentials": {
        "notionApi": {
          "id": "notion-credentials",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "content": "# Secure Stripe Event Handler\n\n## Security Features\n✅ Uses n8n credentials (no hardcoded secrets)\n✅ Environment variables for database IDs\n✅ Webhook signature validation\n✅ Proper error handling\n\n## Required Setup\n1. **Stripe Webhook Credentials**: Add in n8n credentials with webhook secret\n2. **Notion Credentials**: Add your Notion API token\n3. **Environment Variables**: \n   - NOTION_PAYMENTS_DATABASE_ID\n   - NOTION_FAILED_PAYMENTS_DATABASE_ID\n\n## Event Types Handled\n- Payment successes → Success database\n- Payment failures → Failed payments database\n- Charges, refunds, disputes → General logging"
      },
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 500],
      "id": "setup-note-node"
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Filter Success Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Success Events": {
      "main": [
        [
          {
            "node": "Log to Notion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failed Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "America/New_York",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "secureVersion": true,
    "originalWorkflow": "YKYcZEkyi0tldT9b_My_workflow_2.json",
    "credentialsRequired": [
      "stripeApi"
    ],
    "environmentVariables": [
      "NOTION_PAYMENTS_DATABASE_ID",
      "NOTION_FAILED_PAYMENTS_DATABASE_ID"
    ]
  },
  "tags": [
    {
      "createdAt": "2025-08-14T00:00:00.000Z",
      "updatedAt": "2025-08-14T00:00:00.000Z",
      "id": "secure",
      "name": "secure"
    }
  ]
}
