n8n/exports/backup_20250814_021505/sBwkEISOYwxctCYj_My_workflow_3.json
{
  "createdAt": "2025-08-13T01:07:21.640Z",
  "updatedAt": "2025-08-13T01:07:21.640Z",
  "id": "sBwkEISOYwxctCYj",
  "name": "My workflow 3",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1S_XSwz1z3EH4Cnivl7Ls_RGTqlO7L0bb",
          "mode": "list",
          "cachedResultName": "1) RAG Demo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1S_XSwz1z3EH4Cnivl7Ls_RGTqlO7L0bb"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        32
      ],
      "id": "22867816-6c06-4268-8ee0-7bde8725cf41",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -784,
        32
      ],
      "id": "15289f48-0f63-4bb1-b3c1-e6df1dc5cad3",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "MeetingNotes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -560,
        32
      ],
      "id": "a11ba694-ec91-4a3a-91f3-d63f0643e3c6",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -656,
        240
      ],
      "id": "5d1e92bc-96b4-4694-b541-f214642de233",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -416,
        240
      ],
      "id": "2258543c-beee-4af3-9ef2-3a1b22285748",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -256,
        432
      ],
      "id": "cf5cfa78-dcc5-4592-bce1-0ddeb375947e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        224,
        0
      ],
      "id": "2c84cf69-7824-4765-8581-6444cd6390e5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "e130ec00-1b53-4a23-ae44-75a4d33c3035",
      "name": "When chat message received",
      "webhookId": "251ecb7d-3271-4f28-bc93-07e25e4cc78d"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        224
      ],
      "id": "2b850896-260f-40bc-9480-4b689bf4dba8",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        224
      ],
      "id": "5a25a29c-4a3c-4210-8ef5-756ada1064b7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "demo",
        "toolDescription": "you grab meeting notes info",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "MeetingNotes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        528,
        144
      ],
      "id": "83e2e427-248c-4348-a63b-dd1ffc51107d",
      "name": "Pinecone Vector Store1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        368
      ],
      "id": "2b10cf03-2da8-4480-9ca7-9c016e1afaf3",
      "name": "Embeddings OpenAI1"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "51be1d13-b815-4836-afd2-eaa8812d077e",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-13T01:07:21.643Z",
      "updatedAt": "2025-08-13T01:07:21.643Z",
      "role": "workflow:owner",
      "workflowId": "sBwkEISOYwxctCYj",
      "projectId": "u6WAzHuF44mOtWuS",
      "project": {
        "createdAt": "2025-07-31T11:39:40.287Z",
        "updatedAt": "2025-07-31T11:39:43.247Z",
        "id": "u6WAzHuF44mOtWuS",
        "name": "Vincent Laroche <info@oneheadhair.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-31T11:39:40.287Z",
            "updatedAt": "2025-07-31T11:39:40.287Z",
            "role": "project:personalOwner",
            "userId": "dff742c4-a194-47d4-8a7c-d82d35aabc7e",
            "projectId": "u6WAzHuF44mOtWuS",
            "user": {
              "createdAt": "2025-07-31T11:39:38.886Z",
              "updatedAt": "2025-08-13T03:03:26.000Z",
              "id": "dff742c4-a194-47d4-8a7c-d82d35aabc7e",
              "email": "info@oneheadhair.com",
              "firstName": "Vincent",
              "lastName": "Laroche",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "VsaLkCvopP9TByf8",
                "userActivatedAt": 1754031653108,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 0,
                  "lastShownAt": 1754957886802
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-08-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
